.main__page {
  background-color: #fafbff;
  flex: 1 1 auto;
}
.main__page-container {
  padding: 41px 0px 0px 79px;
}
.main__page-headline {
  font-size: 24px;
  margin-bottom: 53px;
}
.main__container {
  max-width: 968px;
  padding: 30px 40px 40px 38px;
  background-color: white;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
}
.main__container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.main__container-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
.main__container-description {
  font-weight: 400;
  font-size: 14px;
  color: #16C098;
}
.main-container__search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 7px 37px 7px 8px;
  background: #F9FBFF;
  border-radius: 10px;
}
.search-input__text {
  font-weight: 400;
  font-size: 12px;
  color: #B5B7C0;
}

/* BODY */

.container-body__headlines {
  display: grid;
  grid-template-columns: 172px 131px 156px 207px 152px 45px;
  border-bottom: 1px solid #EEEEEE;
  color: #B5B7C0;
  font-size: 14px;
  padding-bottom: 14px;
}
.main__container-body {
  display: grid;
  grid-template-columns: 172px 131px 156px 207px 117px 126px;
  font-size: 14px;
}
.body__item {
  border-bottom: 1px solid #EEEEEE;
  padding: 24px 0px 23px 0px;
}
.body__item .square-item {
  display: none;
}
.container-body__dropdown {
  display: none;
}
.body__item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0px 20px 0px;
  border-bottom: 1px solid #EEEEEE;
}
.status-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 4px;
}
.status-btn.green {
  background-color: rgba(22, 192, 152, 0.38);
  color: #008767;
  border: 1px solid #00B087;
}
.status-btn.red {
  background-color: #FFC5C5;
  color: #DF0404;
  border: 1px solid #DF0404;
}

/* FOOTER */

.main__page-footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-footer__left {
  color: #B5B7C0;
  font-size: 14px;
}
.page-footer__square-list {
  display: flex;
  gap: 12px;
}
.square-item {
  width: 25px;
  height: 24px;
  background-color: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  font-size: 12px;
  color: #404B52;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square-item.active {
  color: #fff;
  background-color: #5932EA;
}

@media (max-width: 1439px) {
  .main__page-container {
    padding: 41px 0px 58px 19px;
  }
  .service-list__item {
    width: 160px;
  }
  .service-list__item-arrow {
    display: none;
  }
}
@media (max-width: 1380px) {
  .main__page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__page-headline {
    display: flex;
    align-items: center;
    gap: 700px;
  }
}
@media (max-width: 1020px) {
  .main__page-container {
    padding: 30px 15px 50px 15px;
  }
  .main__container {
    width: fit-content;
  }
  .main__page-headline {
    gap: 280px;
  }
  .main__container-head {
    gap: 20px;
    flex-direction: column;
  }
  .container-body__headlines {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .main__container-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .body__item .body__item-visible {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  .container-body__dropdown.visible {
    display: block;
  }
  .body__item {
    border: none;
    display: flex;
    flex-direction: column;
  }
  .body__item .square-item {
    display: flex;
    transform: rotate(270deg);
  }
 .body__item .square-item.rotate {
    transform: rotate(90deg);
  }
  .body__item .body__item {
    padding: 5px 0px;
  }
  .body__item-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__page-footer {
    justify-content: center;
  }
  .page-footer__left {
    display: none;
  }
  .body__company-headline,
  .container-body__company,
  .body__number-headline,
  .container-body__number,
  .body__email-headline,
  .container-body__email,
  .body__country-headline,
  .container-body__country,
  .body__status-headline,
  .container-body__status {
    display: none;
  }
}
@media (max-width: 530px) {
  .main__page-headline {
    gap: 200px;
  }
}
@media (max-width: 420px) {
  .main__page-headline {
    gap: 100px;
  }
}
@media (max-width: 380px) {
  .main__container {
    padding: 10px;
  }
}